<link href="style.css" type="text/css" rel="stylesheet" />

<body>
    <table id="container">
        <tbody>
            <tr class="containerTr">
                <td>
                    <table id="invoiceTop">
                        <tbody>
                            <tr class="invoiceCompany">
                                <td align="center" class="companyLogo">
                                    <img alt="idea logo" width="175" src="">
                                </td>
                                <td class="companyInfo">
                                    <table class="companyInfo">
                                        <tbody>
                                            <tr class="companyNameLineTbl2">
                                                <td class="companyNameColor"></td>
                                                <td class="companyNameColor"></td>
                                            </tr>
                                            <tr class="invoiceCompany">
                                                <td class="companyInfo" colspan="3">
                                                    <ul id="companyInfoUl">
                                                        <li>
                                                            <span class="lbl">Merkez : </span> {{ADDRESS}} OSB 75. Yıl Bulvarı No:4
                                                            Nilüfer-Bursa /TÜRKİYE | TEL + 90 224 219 18 00
                                                        </li>
                                                        <li class="capital"><span class="lbl">Vergi Dairesi :
                                                            </span>HOPA | </li>
                                                        <li class="capital"><span class="lbl"> Vergi No : </span></li>
                                                        <li class="capital"><span class="lbl"> Mersis No :
                                                            </span>6310694807</li>
                                                        <li><span class="lbl">Şube : </span> Arge Merkezi Şubesi - OSB
                                                            Kahverengi Cd.No:4 Nilüfer Bursa /TÜRKİYE | TEL :+90 224 219
                                                            18 00 | Mersis No : 8445-5829-85946894 </li>
                                                        <li><span class="lbl">Şube : </span> Raylı Sistemler Şubesi -
                                                            OSB Kahverengi Cd. No:4/B Nilüfer Bursa /TÜRKİYE | TEL +90
                                                            224 219 18 00 | Mersis No : 2441-6574-5113-1486 </li>
                                                        <li><span class="lbl">Şube : </span> İstanbul Şubesi - Basın
                                                            Ekspres Yolu No: 25 Halkalı Küçükçekmece İstanbul/TÜRKİYE |
                                                            TEL +90 222 693 96 35 | Mersis No : 8634-7962-6113-7452
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="containerTr">
                <td colspan="3">
                    <table class="companyNameLineTbl">
                        <tbody>
                            <tr>
                                <td class="companyNameColor"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="containerTr">
                <td>
                    <table class="invoiceInfo">
                        <tbody>
                            <tr>
                                <td class="invoiceCustomer">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="customerTitle">Thierry Diniz Otomotiv San. Tic. A.Ş.</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table id="customerInfoTbl">
                                                        <tbody>
                                                            <tr>
                                                                <td class="capital"><span class="lbl">Adres:
                                                                    </span>Organize Sanayi Bölgesi Mh. Organize Sanayi
                                                                    Bölgesi Gri Cadde 2, Sokak N°
                                                                    5&nbsp;16159&nbsp;Nilüfer/Bursa</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="lbl">Tel: </span>5432801151</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="lower"><span class="lbl">E-mail:
                                                                    </span>erdem.ozer@adient.com</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="capital"><span class="lbl">Vergi Dairesi:
                                                                    </span>nilüfer</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="lbl">VKN: </span>8430332390</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="lbl">MERSISNO: </span>6310694807</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="lbl">TICARETSICILNO: </span>6310694807
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="invoiceLogo" align="center">
                                    <img align="middle" alt="E-Fatura Logo" src="">
                                    <h2 id="eInvoiceTitle" align="center">e-FATURA</h2>
                                </td>
                                <td class="invoiceDetails">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="invoiceID"><span class="invoiceDetailColor">Fatura No:
                                                    </span>3122016000000234</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table id="invoiceDetailTbl">
                                                        <tbody>
                                                            <tr>
                                                                <td class="invoiceDetailColor">Özelleştirme No</td>
                                                                <td class="doubleDot">:</td>
                                                                <td>TR1.2</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="invoiceDetailColor">Senaryo</td>
                                                                <td class="doubleDot">:</td>
                                                                <td class="capital">TEMELFATURA</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="invoiceDetailColor">Fatura Tipi</td>
                                                                <td class="doubleDot">:</td>
                                                                <td class="capital">SATIS</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="invoiceDetailColor">Fatura Tarihi</td>
                                                                <td class="doubleDot">:</td>
                                                                <td>27.12.2016</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="invoiceDetailColor">Sipariş No</td>
                                                                <td class="doubleDot">:</td>
                                                                <td>204174297498</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="invoiceDetailColor">Sipariş Tarihi</td>
                                                                <td class="doubleDot">:</td>
                                                                <td align="left">27.12.2016</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="containerTr">
                <td>
                    <div id="ettn">
                        <p><span class="lbl">ETTN: </span>f3a01b24-2b9c-4d1e-b17b-e2e1123c68b5</p>
                    </div>
                </td>
            </tr>
            <tr class="invoiceLineMainTr">
                <td id="invoiceLines">
                    <table id="lineTable" width="700">
                        <tbody>
                            <tr>
                                <th style="width:15px;">S. No</th>
                                <th style="width:50px;">Ürün Kodu</th>
                                <th style="width:140px;">Mal Hizmet</th>
                                <th style="width:15px;">Mktr</th>
                                <th style="width:30px;">Birim</th>
                                <th style="width:58px;">Birim Fiyat</th>
                                <th style="width:30px;">İsknt %</th>
                                <th style="width:58px;">İskonto Tutarı</th>
                                <th style="width:30px;">KDV %</th>
                                <th style="width:58px;">KDV Tutarı</th>
                                <th style="width:80px;">Mal Hizmet Tutarı</th>
                            </tr>
                            <tr>
                                <td align="center">1</td>
                                <td align="center">test</td>
                                <td>S-LINK SL-3504 1PC-4MN 350MHZ VGA ÇOKLAYICI</td>
                                <td align="center">2,00</td>
                                <td align="center">Adet</td>
                                <td align="right">56.42&nbsp;TL</td>
                                <td align="center"></td>
                                <td align="right"></td>
                                <td align="center">18,00</td>
                                <td align="right">20,31&nbsp;TL</td>
                                <td align="right">112,84&nbsp;TL</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="containerTr">
                <td id="invoiceTotal">
                    <table align="right" id="budgetContainerTable">
                        <tbody>
                            <tr>
                                <th>Mal Hizmet Toplam Tutarı</th>
                                <td>112,84&nbsp;TL</td>
                            </tr>
                            <tr>
                                <th>KDV %18 (Matrah: 112,84) </th>
                                <td>20,31</td>
                            </tr>
                            <tr>
                                <th>Vergiler Dahil Toplam Tutar</th>
                                <td>133,15&nbsp;TL</td>
                            </tr>
                            <tr>
                                <th>Ödenecek Tutar</th>
                                <td>133,15&nbsp;TL</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="notesMainTr">
                <td id="notes">
                    <table id="notesTable">
                        <tbody>
                            <tr>
                                <td class="noteLbl"> Not 1</td>
                                <td>:</td>
                                <td class="capital">YALNIZ : YÜZOTUZÜç TL ONBEŞ Kr.</td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Not 2</td>
                                <td>:</td>
                                <td class="capital">##PaymentUrl##http://google.com</td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Not 3</td>
                                <td>:</td>
                                <td class="capital">Kargo Takip Kodu : dgfdhdshh</td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Garanti Bankası </td>
                                <td>:</td>
                                <td class="capital"> 1605 - Marmara Ticari | Hesap No: 1201431 | IBAN No: TR96 0006 2001
                                    6050 0001 2014 31 </td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Halk Bankası </td>
                                <td>:</td>
                                <td class="capital"> 9610- Organize Sanayi Ticari Şb. | Hesap No: 10100004 | IBAN No:
                                    TR48 0001 2009 6100 0010 1000 04 </td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Türkiye İş Bankası </td>
                                <td>:</td>
                                <td class="capital"> 2199- Bursa Kurumsal Şb. | Hesap No: 0000315 | IBAN No: TR40 0006
                                    4000 0012 1990 0003 15 </td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Vakıflar Bankası </td>
                                <td>:</td>
                                <td class="capital"> 9 - Bursa Şb. | Hesap No: 158007284225161 | IBAN No: TR52 0001 5001
                                    5800 7284 2251 61 </td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Yapı ve Kredi Bankası </td>
                                <td>:</td>
                                <td class="capital"> 568 - Organize Sanayi Şb. | Hesap No: 70287462 | IBAN No: TR97 0006
                                    7010 0000 0070 2874 62 </td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Ziraat Bankası </td>
                                <td>:</td>
                                <td class="capital"> 2047 Bursa Osb Tic. Şb. | Hesap No: 37238824-5251 | IBAN No: TR21
                                    0001 0020 4737 2388 2452 51 </td>
                            </tr>
                            <tr>
                                <td class="noteLbl"> Akbank </td>
                                <td>:</td>
                                <td class="capital"> 838 - Bursa Tic. Şb. | Hesap No: 72210 | IBAN No: TR38 0004 6008
                                    3888 8000 0722 10 </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="pageInfo">
                <td style="font-size: 12px;" align="center"> Sayfa: 1 / 1</td>
            </tr>
        </tbody>
    </table>
</body>