* {
    font-family: "Tahoma", "Times New Roman", Times, serif;
    font-size: 10px;
    color: #353432;
}

body {
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
}

.page_container {
    width: 800px;
}

.pw {
    width: 800px;
}

.fatura_head_table {}

img.logo {
    border: 0px;
}

.firma_adi {
    display: block;
    color: #2c4e73;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.firma_adresi {
    display: block;
}

.cerceve_ust {
    position: relative;
    width: 400px;
    height: 15px;
    margin-top: 5px;
}

.cerceve_alt {
    position: relative;
    width: 400px;
    height: 15px;
    margin-bottom: 5px;
}

span.cerceve_box {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.corner_tl {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px none;
    border-top: 2px solid #2c4e73;
    border-left: 2px solid #2c4e73;
}

.corner_tr {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px none;
    border-top: 2px solid #2c4e73;
    border-right: 2px solid #2c4e73;
}

.corner_bl {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px none;
    border-bottom: 2px solid #2c4e73;
    border-left: 2px solid #2c4e73;
}

.corner_br {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px none;
    border-bottom: 2px solid #2c4e73;
    border-right: 2px solid #2c4e73;
}

.cerceve_orta {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.efatura_cap_div {
    border-radius: 6px;
    width: 100%;
    padding: 8px;
    background: #2c4e73;
    color: #ffffff
}


.pair_key {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.pair_seperator {
    display: inline-block;
    width: 10px;
    text-align: left;
}

.pair_value {
    display: inline-block;
}

.cerceve {
    border-radius: 6px;
    border: 1px solid #2c4e73;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.pad6px,
.pad6x {
    padding: 6px;
}

.pad10px,
.pad10x {
    padding: 10px;
}

.tablo_satir {
    width: 800px;
    border-spacing: 0px;
}

td {
    vertical-align: top;
}

.alt_toplam_tablosu {
    width: 800px;
}

.alt_toplam_key {
    display: inline-block;
    width: 250px;
    font-weight: bold;
}

.alt_toplam_sep {
    display: inline-block;
}

.alt_toplam_val {
    display: inline-block;
    width: 120px;
    margin-left: 3px;
    text-align: right
}

.toplam_satiri {
    padding: 3px;
}

.row_banka {
    font-weight: bold;
    color: #649726;
}

a {
    text-decoration: none;
    color: #649726;
}

a:hover {
    font-weight: bold;
    color: #2c4e73;
}

.alt_toplam_key {
    color: #4e4d49;
}

.alt_toplam_val {
    color: #4e4d49;
}

.fatura_not_container {
    color: #649726;
}

.satir_miktar span {
    white-space: nowrap;
}

span.span_satir_miktar {
    white-space: nowrap !important;
    display: inline-block !important;
}

span.span_satir_miktar span {
    display: inline !important;
}

.span_satir_bfiyat,
.span_satir_kdv_oran,
.span_satir_kdv_tutar,
.span_satir_toplam,
span.span_satir_miktar {
    white-space: nowrap !important;
    display: block !important;
    text-align: right
}

.fatura_bilgi {
    min-width: 210px !important;
}

.row_banka_cap {
    display: inline-block;
    width: 100px;
}

.row_banka_cap2 {
    display: inline-block;
    width: 160px;
}

.row_banka_cap3 {
    display: inline-block;
    width: 220px;
}

.row_banka_cap4 {
    display: inline-block;
    width: 350px;
}

.row_banka {
    margin-bottom: 5px;
}

.row_banka_sep {
    display: inline-block;
    width: 10px;
}

.fatura_not_container_w_box {
    border: 1px solid #2c4e73;
    padding: 8px;
    border-radius: 6px;
    margin-top: 4px;
    overflow: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 780px;
}

.efatura_text {
    text-align: center;
    color: #bbbbbb;
    font-size: 12px;
}

div.irsaliye_item_container {
    margin-top: 14px;
    margin-bottom: 10px;
    display: block;
    visibility: visible;
}

span.alt_irsaliye_item {
    padding: 4px;
    margin-right: 3px;
    border: 1px solid #dddddd;
    background: #eeeeee;
    margin-top: 10px;
    display: inline-block;
}

.gib_logo_container {
    text-align: center;
}

.span_satir_iskonto_oran div,
.span_satir_iskonto_tutar div {
    padding-right: 4px;
    white-space: nowrap !important;
    display: block !important;
}

.myright,
.myright div {
    text-align: right;
}

.fatura_not_container_w_box_cap {
    background: #eeeeee;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #cccccc;
}

.fatura_not_container_w_box_cap2 {
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
}

.earsiv_iade_pair {
    font-weight: bold;
}

.earsiv_iade_pair_bosluk {
    height: 30px;
}

.earsiv_iade_tablosu {
    border: 2px solid #cccccc;
}

.fatura_not_container_w_box_capheadaer {
    padding: 6px;
    color: #ffffff;
    background: #666666;
}

tr.earsiv_iade_odd,
tr.earsiv_iade_even {
    height: 20px;
}

tr.earsiv_iade_odd {
    background: #eeeeee;
}

.mytext_bold {
    font-weight: bold;
}

.bos_satir {
    min-width: 30px;
    min-height: 16px;
    display: block;
}

#tablo_satir {
    border: 1px solid #d9d9d9;
}

.kolon_baslik {
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    background: #2c4e73;
    color: #ffffff;
}

tr.tr_baslik td:last-child,
tr.satir td:last-child {
    border-right: 0px none;
}

.kolon_baslik span {
    display: block;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
}

tr.satir td {
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

td.kolon_deger span {
    display: block;
    padding: 2px;
}

.tablo_satir tr:last-child td {
    border-bottom: 0px none;
}

.myframe {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #d9d9d9;
    padding: 6px;
    border-radius: 6px;
}

.frmbanka {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #d9d9d9;
    padding: 6px;
    border-radius: 6px;
}

tr.odd {
    background: #ffffff;
}

tr.even {
    background: #f5f5f5;
}